In [2]:
#Declare a float value and store it in a variable. 
x=10.21




#Check the type and print the id of the same.
print(type(x),id(x))

<class 'float'> 1712235471984

In [3]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

val1=21.12
val2=7.452

#Do below operations on them:-
    #Find sum of both numbers
sum_val=val1+val2
print(sum_val)
    #Find differce between them
dif_val=val1-val2
print(dif_val)
    #Find the product of both numbers.
prod_val=val1*val2
print(prod_val)
    #Find value after dividing first num with second number
dvval = val1/val2
print(dvval)
    #Find the remainder after dividing first number with second number
remain_val=val1%val2
print(remain_val) 
    #Find the quotient after dividing first number with second number
quotient_val=val1//val2
print(quotient_val)
    #Find the result of first num to the power of second number.
pow_val= val1**val2
print(pow_val)

28.572000000000003
13.668000000000001
157.38624000000002
2.8341384863123995
6.216000000000001
2.0
7440789972.551761

In [4]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.
a= 81.1434390
b=3.45677
#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
print(a>b)  

        #Smaller than, '<'
print(a<b)     
        #Greater than or equal to, '>='
print(a>=b) 
        #Less than or equal to, '<='
print(a<=b)
#Observe their output(return type should be boolean)

Comment from GOKHAN: yes, They are boolean

True
False
True
False

In [5]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.
x= 14.2334
y=1.12
#Equuate them using equality operator (==, !=)
print(x==y)
print(x!=y)
#Observe the output(return type should be boolean)

#comment:Yes,tey are boolean

False
True

In [7]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

#comment: All of outpus are correct

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [9]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b - 10.20
print(a is b)          #True or False? True 10.20<256 
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
print(id(a),id(b)) # same Id
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are different

False
True
1712235121136 1712222306032

In [19]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
#Gokhan: Because millions of possibilities are available between 10.5 and 10.5 (like 10.50000001 and 10.5001111)
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [11]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

True
True
True
True
True
True